<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Envar comentario</h1>
		<button class="button button-clear button-dark" ng-click="feedback_modal.hide()">
		  <i class="icon ion-ios-close-empty"></i>
		</button>
	</ion-header-bar>
	<ion-content>
	<form name="emailForm" ng-controller="EmailCtrl" novalidate>	
		<div class="list">
		  <label class="item item-input item-floating-label">
			<span class="input-label">Subject: </span>
			<input type="text" name="subject" placeholder="Subject" ng-model="subject" ng-minlength="5" required>
		  </label>
		  <label class="item item-input item-floating-label">
			<span class="input-label">Mensaje: </span>
			<textarea name="message" placeholder="Message" rows="8" cols="10" ng-model="message" ng-minlength="5" required></textarea>
		  </label>
		</div>
        <div class="padding">
            <p ng-show="emailForm.subject.$error.required">* Asunto es requerido</p>
            <p ng-show="emailForm.subject.$error.minlength">* Asunto debe tener mas de 5 caracteres</p>			
            <p ng-show="emailForm.message.$error.required">* Mensaje es requerido</p>
            <p ng-show="emailForm.message.$error.minlength">* Mensaje debe contener mas de 5 caracteres</p>				
        </div>		
		<div class="padding">
          <button class="button button-block button-{{color}}" ng-disabled="emailForm.$invalid" ng-click="sendFeedback()">Enviar</button>
		</div>
	</form>
	</ion-content>
</ion-modal-view>
